*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}


/* utilities */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.around{
    justify-content: space-around;
}

.gap-15{
    gap: 15px;
}
/* background */
.primary-bg{
    background-color: var(--color-primary);
}

.white-bg{
    background-color: var(--color-white);
}

.dark-bg{
    background-color: var(--color-bg-color);
}


/* header */

h1{
    font-family: "Nerko One", cursive;
    font-size: 3em;
    color: var(--color-contrast);
    text-align: center;
}

/* main */
/* Titolo */
.container{
    margin: 20px auto 0;
    max-width: 385px;
    padding-bottom: 20px;
}

#intro p{
    color: grey;
    text-transform: uppercase;
}
.img{
    width: 100%;
}

iframe{
    width: 100%;
    height: calc(385px * 9 / 16 );
}

.img img{
    width: 100%;
}
/* riassunto ricetta */
.sum{
    padding: 20px;
    box-shadow: 1px 2px lightgrey;
    background-color: var(--color-white);
}

#intro h3{
    padding: 10px 0;
}

ul{
    list-style: none;
}

#intro li{
    width: 100%;
}

.bold{
    font-weight: bold;
}
/* social */

.button{
    min-width:12%;
    height: 30px;
    border-radius: 15px;
    box-shadow: 1px 2px grey;
}

.button a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}


.fa-facebook{
    color: var(--color-icon-blue);
}

.fa-twitter{
    color: var(--color-icon-blue);
}

.fa-instagram{
    color: var(--color-icon-red);
}

.fa-pinterest{
    color: var(--color-icon-red);
}

.fa-youtube{
    color: var(--color-icon-red);
}

/* ADS */

.container > img{
    width: 100%;
}
/* preparazione */
#presentation h2{
    text-transform: uppercase;
}

hr{
    background-color: var(--color-contrast);
    width: 10%;
    height: 3px;
    margin: 15px 0;
}

#presentation .img{
    margin: 0 auto;
    width: 75%;
}


/* footer */
footer{
    min-height: 70px;
    color: white;
}
.foot-cont{
    padding: 30px;
}
h5{
    text-align: center;
    padding: 15px;
}
figure{
    padding: 10px;
    text-align: center;
}

.foot-cont ul li a{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
}



.only-tablet, .only-tablet-inline, .only-desktop, .only-desktop-inline{
    display: none;
}


@media screen and (min-width: 576px) {
    #presentation .img{
        float: left;
        width: 40%;
        padding: 10px;
    }
    
}

@media screen and (min-width: 768px) {
    .only-tablet{
        display: block;
    }
    .only-tablet-inline{
        display: inline;
    }

    h1{
        text-align: start;
    }

    .container{
        margin: 40px auto 0;
        max-width: 688px;
        padding-bottom: 40px;
    }

    iframe{
        height: calc(768px * 9 / 16 );
    }

    #intro li{
        width: 30%;
    }

    #presentation .img{
        float: left;
        width: 40%;
        padding: 10px;
    }

}

@media screen and (min-width: 992px) {
    .only-desktop{
        display: block;
    }
    .only-desktop-inline{
        display: inline;
    }
    .container{
        margin: 40px auto 0;
        max-width: 952px;
        padding-bottom: 40px;
    }

    iframe{
        height: calc(912px * 9 / 16 );
    }

    #intro-cont{
        display: flex;
        width: 100%;
        /* flex-wrap: nowrap; */
    }

    #intro .img{
        width: 73%;
    }

    #intro .sum{
        width: 27%;
    }

    #intro li{
        width: 100%;
        padding: 10px 0;
    }

    .foot-cont{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    h5{
        text-align: left;
    }
    vw

    
}